@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply text-gray-900 antialiased;
    }
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 4px solid;
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent #14137F #14137F transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 12px solid;
    border-color: transparent #4f45e6 #4f45e6 transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-sm {
    width: 20px;
    height: 20px;
    border: 2px solid;
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent currentColor currentColor transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-sm::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px solid;
    border-color: transparent #4f45e6 #4f45e6 transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.loader-xs {
    width: 12px;
    height: 12px;
    border: 1.5px solid;
    background: transparent;
    border-color: transparent currentColor currentColor transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-xs::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2.5px solid;
    border-color: transparent #4f45e6 #4f45e6 transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 2rem;
}